* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
html,
body,
#root,
.container {
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
}
.container .header {
  height: 50px;
  display: flex;
}
.container .header a {
  display: block;
  flex: 1;
  text-align: center;
  line-height: 50px;
}
.container .header a.active {
  color: green;
  border-bottom: 2px solid green;
}
.container .main {
  flex: 1;
  overflow: auto;
}
.container .main .recommend .banner {
  width: 100%;
  height: 150px;
}
.container .main .recommend .banner .ant-carousel,
.container .main .recommend .banner .slick-slider,
.container .main .recommend .banner .slick-list {
  height: 100%;
}
.container .main .recommend .radio {
  padding: 0 10px;
  background-color: #f7f5f5;
}
.container .main .recommend .radio .radiolist {
  display: flex;
  justify-content: space-between;
}
.container .main .recommend .radio .radiolist .radio-one {
  width: 48%;
}
.container .main .rank {
  padding: 10px;
  background-color: #f4f4f4;
  overflow: hidden;
}
.container .main .rank li {
  display: flex;
  background-color: #fff;
  margin-bottom: 10px;
}
.container .main .rank li img {
  width: 120px;
  height: 120px;
}
.container .main .rank li .list-item {
  flex: 1;
  display: flex;
  overflow: hidden;
  padding-left: 6px;
}
.container .main .rank li .list-item .song-title {
  flex: 1;
  overflow: hidden;
}
.container .main .rank li .list-item .song-title > p {
  font-size: 20px;
  color: #000;
  margin-bottom: 6px;
}
.container .main .rank li .list-item .song-title span {
  color: #666;
  font-size: 14px;
  margin-right: 6px;
}
.container .main .rank li .list-item .song-title span.title {
  color: #000;
  font-size: 18px;
}
.container .main .rank li .list-item .song-title .song-p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
.container .main .rank li .list-item .icon-div {
  width: 40px;
  text-align: center;
  line-height: 120px;
}
.container .main .search .search-box {
  width: 100%;
  padding: 10px 20px;
  background-color: #ccc;
  margin-bottom: 20px;
}
.container .main .search .search-box span {
  margin-left: 10px;
}
.container .main .search .hot {
  display: flex;
  flex-wrap: wrap;
}
.container .main .search .hot span {
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  line-height: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.container .main .search .masks {
  position: fixed;
  width: 280px;
  top: 92px;
  left: 30px;
}
.container .main .search .masks li {
  width: 100%;
  padding: 20px;
  background-color: #fff;
}
.container .main .search .masks li .anticon-search {
  font-size: 20px;
  margin-right: 20px;
}
.topList {
  overflow: hidden;
}
.topList .top-info {
  text-align: center;
}
.topList .top-info p {
  font-size: 20px;
  color: #000;
}
.topList .top-info p.time {
  font-size: 16px;
  color: #666;
}
.topList .top-info .ant-btn {
  width: 70%;
  background-color: green;
  border: none;
}
.topList .song ul li {
  display: flex;
}
.topList .song ul li > span {
  width: 40px;
}
.topList .song ul li > div {
  flex: 1;
}
.topList .song ul li .anticon-caret-right {
  width: 40px;
}
.topList .song .pullup {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.play .lyric-box {
  height: 500px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.play .lyric-box .box {
  position: absolute;
  top: 150px;
  width: 100%;
  text-align: center;
}
.play .lyric-box .box p {
  color: #000;
}
.play .lyric-box .box p.active {
  color: green;
}
.play .progress-bar {
  display: flex;
  align-items: center;
}
.play .progress-bar span {
  width: 50px;
  text-align: center;
}
.play .progress-bar .progress-box {
  flex: 1;
  height: 10px;
  background-color: #ccc;
  position: relative;
}
.play .progress-bar .progress-box .progress-truth {
  width: 10px;
  background-color: green;
  height: 10px;
}
.play .progress-bar .progress-box .circle {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: green;
  left: -3px;
  top: -3px;
}
.play .btns {
  width: 100%;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.play .btns span {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #000;
  text-align: center;
  line-height: 40px;
}
